﻿@model SuuqApp.Models.TblProduct

@{
    ViewData["cb_menu"] = "Products";
    ViewData["cb_pgtitle"] = "Create Product";
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

        

        <div class="form-group col-md-4">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="CategoryId" class="control-label"></label>
            <br />
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                <option value="">Select</option>
            </select>
            <br />
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Barcode" class="control-label"></label>
            <input asp-for="Barcode" class="form-control" />
            <span asp-validation-for="Barcode" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="ManufacturedCountry" class="control-label"></label>
            <input asp-for="ManufacturedCountry" class="form-control" />
            <span asp-validation-for="ManufacturedCountry" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Manufacturer" class="control-label"></label>
            <input asp-for="Manufacturer" class="form-control" />
            <span asp-validation-for="Manufacturer" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="BrandName" class="control-label"></label>
            <input asp-for="BrandName" class="form-control" />
            <span asp-validation-for="BrandName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="ExpireDate" class="control-label"></label>
            <input asp-for="ExpireDate" class="form-control" />
            <span asp-validation-for="ExpireDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="ManufactureDate" class="control-label"></label>
            <input asp-for="ManufactureDate" class="form-control" />
            <span asp-validation-for="ManufactureDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="QuantityOnhand" class="control-label"></label>
            <input asp-for="QuantityOnhand" class="form-control" />
            <span asp-validation-for="QuantityOnhand" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="SellingPrice" class="control-label"></label>
            <input asp-for="SellingPrice" class="form-control" />
            <span asp-validation-for="SellingPrice" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="CostPrice" class="control-label"></label>
            <input asp-for="CostPrice" class="form-control" />
            <span asp-validation-for="CostPrice" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Remarks" class="control-label"></label>
            <textarea asp-for="Remarks" class="form-control" rows="3" cols="20"></textarea>
            <span asp-validation-for="Remarks" class="text-danger"></span>
        </div>


        <div class="form-group col-md-12">
            <a asp-action="Index" class="btn btn-danger">Cancel</a>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>

    </div>
</form>

