﻿@model SuuqApp.Models.TblProductImage

@{
    ViewData["cb_menu"] = "Products";
    ViewData["cb_pgtitle"] = "Product Images";
    ViewData["Title"] = "Images";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Images" method="post" enctype="multipart/form-data">

            <input type="hidden" asp-for="ProductId" value="@ViewData["productid"]" />
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <br />
                <select class="form-control" asp-for="Type">
                    <option value="">Select</option>
                    <option value="Front">Front</option>
                    <option value="Others">Others</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Browse Image</label>
                <input type="file" name="imagefile" class="form-control" onchange="previewImage(event)" />
            </div>

            <div>
                <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 300px; display: none;">
            </div>
         
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<table class="table table-bordered" style="width:100%; margin-top:100px;">
    <thead>
        <tr>
            <th>Type</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @{
            var _rootdir = Directory.GetCurrentDirectory();
        }
        @foreach(var item in (List<TblProductImage>)ViewBag.images)
        {
            <tr>
                <td>
                    @item.Type
                </td>
                <td>
                    <img src="/uploads/@item.Path" style="width:150px; height:150px; margin:10px;" />
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
        <script>
        function previewImage(event) {
            var imagePreview = document.getElementById("imagePreview");
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onload = function () {
                imagePreview.src = reader.result;
                imagePreview.style.display = "block";
            }

            if (file) {
                reader.readAsDataURL(file);
            }
        }
    </script>

}

