﻿@model IEnumerable<SuuqApp.Models.TblProduct>

@{
    ViewData["cb_menu"] = "Products";
    ViewData["cb_pgtitle"] = "Product List";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


    <a style="margin-bottom:20px; margin-top:20px;" class="btn btn-primary pull-right" asp-action="Create">Create New</a>
    
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Brand
            </th>
            <th>
                Qty on Hand
            </th>
            <th>
                Cost (USD)
            </th>
            <th>
                Selling (USD)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @counter
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityOnhand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellingPrice)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Images" class="btn btn-warning" asp-route-id="@item.Id">Images</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

            counter++;
        }
    </tbody>
</table>
