﻿@{
    Layout = "_adminLayout";
    ViewData["Title"] = "Home Page";
    ViewData["pgtitle"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Suuqa A3</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
