﻿@model SuuqApp.Models.TblCategory

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Edit</h1>

<h4>TblCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedBy" class="control-label"></label>
                <input asp-for="DeletedBy" class="form-control" />
                <span asp-validation-for="DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ruser" class="control-label"></label>
                <input asp-for="Ruser" class="form-control" />
                <span asp-validation-for="Ruser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rdate" class="control-label"></label>
                <input asp-for="Rdate" class="form-control" />
                <span asp-validation-for="Rdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Muser" class="control-label"></label>
                <input asp-for="Muser" class="form-control" />
                <span asp-validation-for="Muser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mdate" class="control-label"></label>
                <input asp-for="Mdate" class="form-control" />
                <span asp-validation-for="Mdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

