﻿@model IEnumerable<SuuqApp.Models.TblCategory>

@{
    ViewData["cb_menu"] = "Products";
    ViewData["cb_pgtitle"] = "Categories";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<p>
    <a class="btn btn-primary pull-right" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Date
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@counter</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Rdate)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            counter++;
        }
    </tbody>
</table>
