﻿<nav class="header__menu mobile-menu">
    <ul>
        <li class="active"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li><a asp-controller="TblProducts" asp-action="FindItems">Shop</a></li>
        <li>
            <a href="./shop.html">Products</a>
            <ul class="dropdown">
                <li><a asp-controller="TblCategories" asp-action="Index">Category</a></li>
                <li><a asp-controller="TblProducts" asp-action="Index">Product List</a></li>
            </ul>

        </li>
        <li>
            <a href="./shop.html">Sales</a>
            <ul class="dropdown">
                <li><a href="./about.html">Payment Types</a></li>
                <li><a href="./shop-details.html">Sales Status</a></li>
                <li><a href="./shop-details.html">Sales List</a></li>
            </ul>

        </li>
        <li>
            <a href="#">Users</a>
            <ul class="dropdown">
                <li><a href="./about.html">Users List</a></li>
            </ul>
        </li>
        <li><a href="./blog.html">Suppliers</a></li>
        <li><a href="./contact.html">Purchases</a></li>
    </ul>
</nav>