﻿<!DOCTYPE html>
<html lang="en">
<head>
    @*<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuuqApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuuqApp.styles.css" asp-append-version="true" />*@
    <meta charset="UTF-8">
    @*<meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        @ViewData["pgtitle"] - Suuqa-A3
    </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/vendor/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/vendor/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/vendor/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/vendor/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/vendor/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/vendor/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/vendor/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/vendor/css/style.css" type="text/css">

</head>
@*<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SuuqApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SuuqApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>*@
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="~/vendor/img/icon/search.png" alt=""></a>
            <a href="#"><img src="~/vendor/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="~/vendor/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="~/vendor/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    @await Html.PartialAsync("_adminMenu")
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="~/vendor/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="~/vendor/img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="~/vendor/img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    @*<section class="hero">
    <div class="hero__slider owl-carousel">
    <div class="hero__items set-bg" data-setbg="~/vendor/img/hero/hero-1.jpg">
    <div class="container">
    <div class="row">
    <div class="col-xl-5 col-lg-7 col-md-8">
    <div class="hero__text">
    <h6>Summer Collection</h6>
    <h2>Fall - Winter Collections 2030</h2>
    <p>
    A specialist label creating luxury essentials. Ethically crafted with an unwavering
    commitment to exceptional quality.
    </p>
    <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
    <div class="hero__social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-pinterest"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="hero__items set-bg" data-setbg="~/vendor/img/hero/hero-2.jpg">
    <div class="container">
    <div class="row">
    <div class="col-xl-5 col-lg-7 col-md-8">
    <div class="hero__text">
    <h6>Summer Collection</h6>
    <h2>Fall - Winter Collections 2030</h2>
    <p>
    A specialist label creating luxury essentials. Ethically crafted with an unwavering
    commitment to exceptional quality.
    </p>
    <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
    <div class="hero__social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-pinterest"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>*@
    <!-- Hero Section End -->
    @if (ViewData["cb_disable"] == "0")
    {
        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>@ViewData["cb_pgtitle"]</h4>
                            <div class="breadcrumb__links">
                                <a href="./index.html">@ViewData["cb_menu"]</a>
                                <span>@ViewData["cb_pgtitle"]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->
    }


    <section>
        <div class="container">
            <main role="main" class="pb-3">
                <div class="row">
                    <div class="col-12">
                        @RenderBody()
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @await Component.InvokeAsync("listproducts")

                    </div>
                </div>

            </main>
        </div>
    </section>


    <!-- Banner Section Begin -->
    @*<section class="banner spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-7 offset-lg-4">
    <div class="banner__item">
    <div class="banner__item__pic">
    <img src="~/vendor/img/banner/banner-1.jpg" alt="">
    </div>
    <div class="banner__item__text">
    <h2>Clothing Collections 2030</h2>
    <a href="#">Shop now</a>
    </div>
    </div>
    </div>
    <div class="col-lg-5">
    <div class="banner__item banner__item--middle">
    <div class="banner__item__pic">
    <img src="~/vendor/img/banner/banner-2.jpg" alt="">
    </div>
    <div class="banner__item__text">
    <h2>Accessories</h2>
    <a href="#">Shop now</a>
    </div>
    </div>
    </div>
    <div class="col-lg-7">
    <div class="banner__item banner__item--last">
    <div class="banner__item__pic">
    <img src="~/vendor/img/banner/banner-3.jpg" alt="">
    </div>
    <div class="banner__item__text">
    <h2>Shoes Spring 2030</h2>
    <a href="#">Shop now</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>*@
    <!-- Banner Section End -->
    <!-- Categories Section Begin -->
    @*<section class="categories spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-3">
    <div class="categories__text">
    <h2>Clothings Hot <br /> <span>Shoe Collection</span> <br /> Accessories</h2>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="categories__hot__deal">
    <img src="~/vendor/img/product-sale.png" alt="">
    <div class="hot__deal__sticker">
    <span>Sale Of</span>
    <h5>$29.99</h5>
    </div>
    </div>
    </div>
    <div class="col-lg-4 offset-lg-1">
    <div class="categories__deal__countdown">
    <span>Deal Of The Week</span>
    <h2>Multi-pocket Chest Bag Black</h2>
    <div class="categories__deal__countdown__timer" id="countdown">
    <div class="cd-item">
    <span>3</span>
    <p>Days</p>
    </div>
    <div class="cd-item">
    <span>1</span>
    <p>Hours</p>
    </div>
    <div class="cd-item">
    <span>50</span>
    <p>Minutes</p>
    </div>
    <div class="cd-item">
    <span>18</span>
    <p>Seconds</p>
    </div>
    </div>
    <a href="#" class="primary-btn">Shop now</a>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!-- Categories Section End -->
    <!-- Instagram Section Begin -->
    @*<section class="instagram spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-8">
    <div class="instagram__pic">
    <div class="instagram__pic__item set-bg" data-setbg="~/vendor/img/instagram/instagram-1.jpg"></div>
    <div class="instagram__pic__item set-bg" data-setbg="~/vendor/img/instagram/instagram-2.jpg"></div>
    <div class="instagram__pic__item set-bg" data-setbg="~/vendor/img/instagram/instagram-3.jpg"></div>
    <div class="instagram__pic__item set-bg" data-setbg="~/vendor/img/instagram/instagram-4.jpg"></div>
    <div class="instagram__pic__item set-bg" data-setbg="~/vendor/img/instagram/instagram-5.jpg"></div>
    <div class="instagram__pic__item set-bg" data-setbg="~/vendor/img/instagram/instagram-6.jpg"></div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="instagram__text">
    <h2>Instagram</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.
    </p>
    <h3>#Male_Fashion</h3>
    </div>
    </div>
    </div>
    </div>
    </section>*@
    <!-- Instagram Section End -->
    <!-- Latest Blog Section Begin -->
    @*<section class="latest spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="section-title">
    <span>Latest News</span>
    <h2>Fashion New Trends</h2>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="blog__item">
    <div class="blog__item__pic set-bg" data-setbg="~/vendor/img/blog/blog-1.jpg"></div>
    <div class="blog__item__text">
    <span><img src="~/vendor/img/icon/calendar.png" alt=""> 16 February 2020</span>
    <h5>What Curling Irons Are The Best Ones</h5>
    <a href="#">Read More</a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="blog__item">
    <div class="blog__item__pic set-bg" data-setbg="~/vendor/img/blog/blog-2.jpg"></div>
    <div class="blog__item__text">
    <span><img src="~/vendor/img/icon/calendar.png" alt=""> 21 February 2020</span>
    <h5>Eternity Bands Do Last Forever</h5>
    <a href="#">Read More</a>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="blog__item">
    <div class="blog__item__pic set-bg" data-setbg="~/vendor/img/blog/blog-3.jpg"></div>
    <div class="blog__item__text">
    <span><img src="~/vendor/img/icon/calendar.png" alt=""> 28 February 2020</span>
    <h5>The Health Benefits Of Sunglasses</h5>
    <a href="#">Read More</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>*@
    <!-- Latest Blog Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="~/vendor/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="~/vendor/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>
                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="~/vendor/js/jquery-3.3.1.min.js"></script>
    <script src="~/vendor/js/bootstrap.min.js"></script>
    <script src="~/vendor/js/jquery.nice-select.min.js"></script>
    <script src="~/vendor/js/jquery.nicescroll.min.js"></script>
    <script src="~/vendor/js/jquery.magnific-popup.min.js"></script>
    <script src="~/vendor/js/jquery.countdown.min.js"></script>
    <script src="~/vendor/js/jquery.slicknav.js"></script>
    <script src="~/vendor/js/mixitup.min.js"></script>
    <script src="~/vendor/js/owl.carousel.min.js"></script>
    <script src="~/vendor/js/main.js"></script>
    @RenderSection("Scripts",false);
</body>
</html>
